<%- include('partials/head') %>

    <h1>Search for Artists</h1>
    <form action="/artist-search" method="GET">
        <input type="text" name="mySearch">
        <input type="submit" value="Send">
    </form>

    <%- include('partials/footer') %>